.flex-container{
    justify-content:flex-end;
    display:flex;
    align-items: center;
    width:85%;
    height: 85%;
    position: absolute;
    top:43%;
    left:41%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.product-view{
    width:45%;
    height:100%;    
    display:flex;
    flex-direction:column;
}

ul{
    position:relative;
    right:45px;
    bottom:6px;
    list-style-type: none;
}
li{
    display:inline;
    padding:5px;
}

.product-description{
    width:35%;
    height:100%;
}

.product-description h1{
    font-size: 300%;
}

.product-description h4{
    font-family: 'Poppins', sans-serif;
}

.product-description p{
    line-height: 1.5em;
    font-family: 'Open Sans', sans-serif;
}

.product-review{
    padding-top:15px;
    font-size: 89%;
    font-family: 'Open Sans', sans-serif;

}

.submit-review{
    font-family: 'Open Sans', sans-serif;
    border-width:0 0 1px;
    border-style: solid;
    width: fit-content;
}

.button{
    font-family: 'Open Sans', sans-serif;
    padding: 15px 40px;
    border-color: black;
}

.flex-container-2{
    justify-content: space-around;
    display: flex;
    width:67%;
    height:12%;
    position: absolute;
    top:90%;
    left: 44.5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.perks{
    line-height: 1.5em;
    position:relative;
    left:35px;
    font-family:'Open Sans', sans-serif;
    font-size: 80%;
}

@media only screen and (max-width:800px){

    .flex-container{
        width:100%;
        flex-direction:column;
    }

    .product-view{
        margin-top:20px;
        position:relative;
        left:65px;
        flex-direction: column;
        width:100%;
    }

    li{
        padding:4px;
    }

    .submit-review{
        position:relative;
	    left:50%;
	    transform:translateX(-50%);
    }

    .product-description{
        text-align:center;
        position:relative;
        bottom:80px;
        left:35px;
        width:100%;
        height:10%;
    }

    .flex-container-2{
        flex-direction:column;
        flex-wrap:wrap;
        position:relative;
        top:1280px;
        float:right;
        left: -100px;
    }

    .button{
        position:relative;
        left:20px;
        margin-top: 10px;
    }

}